{% for message in messages %}
<li class="media">
    <div class="media-left">
        {% if message.level == 99 %}<span class="label bg-orange">PROBLEM</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<span class="label bg-success">SUCCESS</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<span class="label bg-warning">WARNING</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<span class="label bg-danger">ERROR</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<span class="label bg-info">INFO</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}<span class="label bg-grey">DEBUG</span>{% endif %}
    </div>

    <div class="media-body">
        {{ message }}
        <div class="media-annotation">{{ message.extra_tags }}</div>
    </div>
</li>
{% endfor %}