<!-- {{ host.name }}-{{ hostcheck.name }}-info -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h3 class="panel-title">Detailed Information</h3>
    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="active"><a href="#fade-tab1" data-toggle="tab" aria-expanded="true">Check Details</a></li>
                <li class=""><a href="#fade-tab2" data-toggle="tab" aria-expanded="false">Host Details</a></li>
                <li class=""><a href="#fade-tab3" data-toggle="tab" aria-expanded="false">Threshold Details</a></li>
                <li class=""><a href="#fade-tab4" data-toggle="tab" aria-expanded="false">SLA Details</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in table-responsive" id="fade-tab1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                              <tr>
                                <td>ID</td>
                                <td>{% if user.is_staff %}<a href="/admin/scheduler/hostchecks/{{ hostcheck.pk }}/change/">{% endif %}{{ hostcheck.pk }}{% if user.is_staff %}</a>{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{ hostcheck.name }}</td>
                            </tr>
                            <tr>
                                <td>Full Name</td>
                                <td>{{ hostcheck.verbosename }}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>{{ hostcheck.checktype }}</td>
                            </tr>
                            <tr>
                                <td>Interval</td>
                                <td>{{ hostcheck.interval }}</td>
                            </tr>
                            <tr>
                                <td>Argument</td>
                                <td>{{ hostcheck.arg }}</td>
                            </tr>
                            <tr>
                                <td>Unit</td>
                                <td>{{ hostcheck.unit }}</td>
                            </tr>
                            <tr>
                                <td>Quotient</td>
                                <td>{{ hostcheck.quotient }}</td>
                            </tr>
                            <tr>
                                <td>Enabled</td>
                                <td>{{ hostcheck.enabled }}</td>
                            </tr>
                            <tr>
                                <td>All Host</td>
                                <td>{{ hostcheck.allhosts }}</td>
                            </tr>
                            <tr>
                                <td>Colorize on SLA</td>
                                <td>{{ hostcheck.colorizesla }}</td>
                            </tr>
                            <tr>
                                <td>Global Status</td>
                                <td>{{ hostcheck.status }}</td>
                            </tr>
                            <tr>
                                <td>Host list</td>
                                <td>{% for host in hostcheck.hosts.all %}{{ host }},{% endfor %}</td>
                            </tr>
                            <tr>
                                <td>Note</td>
                                <td>{{ hostcheck.note }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade table-responsive" id="fade-tab2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Community</th>
                                <th>Enabled</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for host in hostcheck.hosts.all %}
                            <tr>
                                <td>{% if user.is_staff %}<a href="/admin/scheduler/hosts/{{ host.id }}/change/">{% endif %}{{ host.id }}{% if user.is_staff %}</a>{% endif %}</td>
                                <td>{{ host.name }}</td>
                                <td>{{ host.address }}</td>
                                <td>{{ host.community }}</td>
                                <td>{{ host.enabled }}</td>
                                <td>{{ host.note }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade table-responsive" id="fade-tab3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Warning groups</th>
                                <th>Critical groups</th>
                                <th>Recovery groups</th>
                                <th>Error groups</th>
                                <th>Warning template</th>
                                <th>Critical template</th>
                                <th>Recovery template</th>
                                <th>Error template</th>
                                <th>Low Warning</th>
                                <th>High Warning</th>
                                <th>Low Critical</th>
                                <th>High Critical</th>
                                <th>Enabled</th>
                                <th>Last Checks</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for thold in hostcheck.threshold.all %}
                            <tr>
                                <td>{% if user.is_staff %}<a href="/admin/scheduler/thresholds/{{ thold.id }}/change/">{% endif %}{{ thold.id }}{% if user.is_staff %}</a>{% endif %}</td>
                                <td>{{ thold.name }}</td>
                                <td>{{ thold.type }}</td>
                                <td>{% for group in thold.warngroups.all %}{{ group }},{% endfor %}</td>
                                <td>{% for group in thold.critgroups.all %}{{ group }},{% endfor %}</td>
                                <td>{% for group in thold.okgroups.all %}{{ group }},{% endfor %}</td>
                                <td>{% for group in thold.errgroups.all %}{{ group }},{% endfor %}</td>
                                <td>{{ thold.warntpl }}</td>
                                <td>{{ thold.crittpl }}</td>
                                <td>{{ thold.oktpl }}</td>
                                <td>{{ thold.errtpl }}</td>
                                <td>{{ thold.lowwarn }}</td>
                                <td>{{ thold.highwarn }}</td>
                                <td>{{ thold.lowcrit }}</td>
                                <td>{{ thold.highcrit }}</td>
                                <td>{{ thold.enabled }}</td>
                                <td>{{ thold.lastcheck }}</td>
                                <td>{{ thold.note }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade table-responsive" id="fade-tab4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Current Value</th>
                                <th>Status</th>
                                <th>Critical Value</th>
                                <th>Warning Groups</th>
                                <th>Critical Groups</th>
                                <th>Recovery Groups</th>
                                <th>Warning Template</th>
                                <th>Critical Template</th>
                                <th>Recovery Template</th>
                                <th>All Checks considered</th>
                                <th>Enabled</th>
                                <th>Metadata</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for sla in hostcheck.sla.all %}
                            <tr>
                                <td>{% if user.is_staff %}<a href="/admin/scheduler/sla/{{ sla.id }}/change/">{% endif %}{{ sla.id }}{% if user.is_staff %}</a>{% endif %}</td>
                                <td>{{ sla.name }}</td>
                                <td>{{ sla.currentvalue }}</td>
                                <td>{{ sla.status }}</td>
                                <td>{{ sla.critical }}</td>
                                <td>{% for group in sla.warngroups.all %}{{ group }},{% endfor %}</td>
                                <td>{% for group in sla.critgroups.all %}{{ group }},{% endfor %}</td>
                                <td>{% for group in sla.okgroups.all %}{{ group }},{% endfor %}</td>
                                <td>{{ sla.warntpl }}</td>
                                <td>{{ sla.crittpl }}</td>
                                <td>{{ sla.oktpl }}</td>
                                <td>{{ sla.allchecks }}</td>
                                <td>{{ sla.enabled }}</td>
                                <td>{{ sla.data }}</td>
                                <td>{{ sla.note }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{ host.name }}-{{ hostcheck.name }}-info -->