{% extends "base.html" %}
{% load i18n %}
{% block breadcrumbs %}<a href="{% url '/' %}">{% trans 'Home' %}</a>{% endblock %}
{% block nav %}
	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img src="/public/img/m4-logo.png" alt="m4system"></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/admin/">
						<i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to admin</span>
					</a>
				</li>

				<li>
					<a href="mailto:sysops@m4system.com">
						<i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->
{% endblock %}
{% block content %}
	<!-- Page container -->
	<div class="page-container login-container">

		<!-- Page content -->
		<div class="page-content">

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

			<!-- Main content -->
			<div class="content-wrapper">
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
							<h5 class="content-group">{% trans "You have been logged out successfully." %} <small class="display-block"><a href="/">{% trans 'Log in again' %}</a></h5>
						</div>
					</div>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->


		<!-- Footer -->
		<div class="footer text-muted">
			&copy; 2019. <a href="#">M4</a> by <a href="https://m4system.com" target="_blank">M4SYSTEM</a>
		</div>
		<!-- /footer -->

	</div>
	<!-- /page container -->


{% endblock %}