{% load i18n %}
{% load compress %}
{% load tz %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}M4{% endblock %}</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	{% compress css %}
	<link href="{% static "assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets/css/core.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets/css/colors.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "less/components.less" %}" media="all" rel="stylesheet" type="text/less"/>
	<link href="{% static "css/overrides.css" %}" media="all" rel="stylesheet" type="text/css"/>
	<!-- /global stylesheets -->
	{% block addcss %}{% endblock %}
	{% endcompress %}

	<!-- Core JS files -->
	{% compress js %}
	<script type="text/javascript" src="{% static "assets/js/core/libraries/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/core/libraries/jquery_ui/full.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/core/libraries/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/plugins/ui/nicescroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/plugins/ui/drilldown.js" %}"></script>
 	<!-- Disabled because it memory leaks -->
 	<!--<script type="text/javascript" src="{% static "assets/js/plugins/loaders/pace.min.js" %}"></script>-->
	<script type="text/javascript" src="{% static "assets/js/plugins/forms/styling/switchery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/plugins/loaders/blockui.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/plugins/notifications/bootbox.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/pages/components_modals.js" %}"></script>
	<script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/d3_tooltip.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.periodic.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/pages/appearance_draggable_panels.js" %}"></script>
	<script type="text/javascript" src="{% static "js/webview.js" %}"></script>
	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static "assets/js/core/app.js" %}"></script>
	<!-- /theme JS files -->
	{% block addjs %}{% endblock %}
	{% endcompress %}
	<!-- /core JS files -->

	{% block headlast %}{% endblock %}
</head>

<body>
	{% block bodyfirst %}{% endblock %}
	<!-- Main navbar -->
	{% block nav %}
<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img src="{% static "img/m4-small.png" %}" alt="m4system"></a>
		</div>

		<div class="navbar">
			<ul class="nav navbar-nav">
			{% if perms.webview.view_notifs %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-git-compare"></i>
						<span class="visible-xs-inline-block position-right">Events</span>
						<span class="badge bg-warning-400" id='msgcount'>{% if messages %}{{ messages|length }}{% endif %}</span>
					</a>
					<div class="dropdown-menu dropdown-content">
						<div class="dropdown-content-heading">
							Events
							<ul class="icons-list">
								<li><a href="#"><i class="icon-sync" id='syncmsg'></i></a></li>
							</ul>
						</div>

{% if messages %}
						<ul class="media-list dropdown-content-body width-350" id='msg'>
							{% for message in messages %}
							<li class="media">
								<div class="media-left">
									{% if message.level == 99 %}<span class="label bg-orange">PROBLEM</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<span class="label bg-success">SUCCESS</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<span class="label bg-warning">WARNING</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<span class="label bg-danger">ERROR</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<span class="label bg-info">INFO</span>{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}<span class="label bg-grey">DEBUG</span>{% endif %}
								</div>

								<div class="media-body">
									{{ message }}
									<div class="media-annotation">{{ message.extra_tags }}</div>
								</div>
							</li>
{% endfor %}
						</ul>
				{% endif %}
					</div>
				</li>
			{% endif %}
			</ul>
			<p class="navbar-text"><span class="label bg-teal-400" id='apistatus'>API is Online</span></p><p class="navbar-text"><span class="label bg-teal-400" id="taskdelay">Avg Task delay: {{ taskdelay|floatformat:5 }} seconds</span></p>
	<script type="text/javascript"> 
	$(function() { 
		$.periodic({period: 600000, decay: 1.2, max_period: 1200000}, function() {
			updateTaskDelay('1');
		});
	});
	</script>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-windows"></i>
						<span>Views</span>
						<i class="caret"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="/"><i class="icon-popout"></i> Default</a></li>
						{% for view in uvlist %}
						<li><a href="/view/{{view}}"><i class="icon-popout"></i> {{view}}</a></li>
						{% endfor %}
					</ul>
				</li>				
				{% if user.is_staff %}
					<li>
						<a href="/admin/">
							<i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to admin</span>
						</a>
					</li>
				{% endif %}
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-user"></i>
						<span>{{ request.user }}</span>
						<i class="caret"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a data-toggle="modal" href="/settings/" data-target="#modal_remote"><i class="icon-cog5"></i> Account settings</a></li>
						<li><a href="/logout/"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->{% endblock %}

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">
{% block content %}

{% endblock %}
		</div>
		<!-- /page content -->
</div>
{% block aftercontent %}{% endblock %}
		<!-- Footer -->
		<div class="footer text-muted">
			{% block footer %}{% endblock %}
			&copy; 2019. <a href="#">M4</a> by <a href="https://m4system.com" target="_blank">M4SYSTEM</a>
		</div>
		<!-- /footer -->

	</div>
	<!-- /page container -->
{% block bodylast %}{% endblock %}
</body>
</html>