<form action="/settings/" method="post" class='settingsform'>
    {% csrf_token %}
    <div class="panel panel-body login-form">
<div class="text-center">
							<div class="icon-object border-slate-300 text-slate-300"><i class="icon-gear"></i></div>
							<h5 class="content-group">User Settings <small class="display-block">You can configure your notifications here</small></h5>
						</div>
						{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
  <span class="text-danger">{{ error }}</span>
{% endfor %}
{% endif %}
						{{ form.notifemail.errors }}
						<small class="display-block">Where to receive email notifications.  Leave empty to disable.</small>
						<div class="form-group has-feedback has-feedback-left">
							<input id="notifemail" maxlength="254" name="notifemail" type="text" value="{{ form.notifemail.value }}" class="form-control" />

							<div class="form-control-feedback">
								<i class="icon-user text-muted"></i>
							</div>
						</div>
						{{ form.notifcallback.errors }}
						<small class="display-block">URL for notification callbacks.  Currently not implemented.</small></small>
						<div class="form-group has-feedback has-feedback-left">
							    
    						<input id="notifcallback" name="notifcallback" type="text" value="{{ form.notifcallback.value }}" class="form-control" />
							<div class="form-control-feedback">
								<i class=" glyphicon-cloud-upload text-muted"></i>
							</div>
						</div>

						<div class="form-group">
							<button id='settingsave' type="submit" class="btn btn-primary btn-block">Save<i class="icon-circle-right2 position-right"></i></button>
						</div>
					</div>
</form>
    <script>
		$(document).ready(function () {
			$("#settingsave").click(function(){
				$.ajax({
					type: "POST",
					url: "/settings/", // 
					data: $('.settingsform').serialize(),
					success: function(msg){
						// $(".modal-content").html(msg)
						$(".text-center .content-group").append("<span>Settings saved with success</span>")
						$(".text-center .content-group span").addClass('alert alert-success').fadeOut(5000)
						$(".errorlist").hide()
					},
					error: function(msg){
						$(".modal-content").html(msg.responseText)
						$(".text-center .content-group").append("<span>Failed saving settings</span>")
						$(".text-center .content-group span").addClass('alert text-danger').fadeOut(10000)
						$(".modal-content .errorlist").addClass('alert text-danger')
					},
				});
				return false;
			});
		});
    </script>